<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Enter Your Aadhar</title>
</head>
<body class="container">
<h1>Enter your aadhar number to view your posts</h1>
<form method="POST" class="form-group">
	<div>

	<label for="aadhar">Aadhar</label>
	<input type="text" name="aadhar">
</div>
<div>

	<label for="password">Password</label>
	<input type="password" name="password">
</div>
<div>
	<button type="submit">SUBMIT</button>
</div>

</form>

</body>
</html>