<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Login</title>
	<style type="text/css">
		.jumbotron{
			color:purple;
			background-color:lightblue;
		}
	</style>
	
</head>
<body class="container">
<h2 class="jumbotron">Login</h2>	
<form method='post' >
<div>
	<label for="aadhar">Aadhar:-</label>
	<input type="text" placeholder="Aadhar" name="aadhar">
</div>
	<div>	  
   <label for='email'>Email:-</label>
  <input type="email" placeholder="welcome@property.com"
            name="email" />
</div>
<div>
	<label for="password">Password:-</label>
	<input type="Password" placeholder="password" name="password">
</div>
 <div>
 	<button type='submit'>Login</button>
 </div>
</form>
</body>
</html>