<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Logged Out</title>
	<style type="text/css">
		.jumbotron
		{
			color:purple;
			background-color:lightblue;
			text-align: center;
		}
		.container
		{
			text-align: center;
		}
	</style>
</head>
<body class="container">
<h1 class="jumbotron">Thanks For using our Website</h1>
<h4>Do you want to login again</h4>
<div>
	<a href="/login">Login</a>
</div>
<div>
	Want to go back to the Welcome page?
</div>
<div>
	<a href="/">Click here</a>
</div>
</body>
</html>